body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.mainContainer{
    width:400px;
    height: 600px;
    border: 2px solid black;
    border-radius: 30px;
    background-color:rgba(149, 140, 140, 0.765);
}
.windowContainer{
  width: 350px;              /* подгони под свой корпус */
  height: 120px;             /* высота экрана */
  background: #e9e9e9;        /* светло-серый как на примере */
  border: 2px solid #3a3a3a;
  border-radius: 8px;

  padding: 12px 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* small сверху, big снизу */
  align-items: flex-end;          /* оба вправо */
}

/* убираем дефолтные отступы у h1/h3 */
#showSmall, #showBig{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: right;  /* чтобы текст был справа */
}

/* верхняя строка (мелкая) */
#showSmall{
  font-size: 18px;
  opacity: 0.8;
}

/* нижняя строка (крупная) */
#showBig{
  font-size: 44px;
  font-weight: 700;
}


.windowContainer{
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-left:25px;

    background-color:#fafaee;
}

#clear, #delete{
    width:165px;
    height:60px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fafaee;
    font-size: 18px;
  font-weight: bold;
}
#clear{
    margin-right: 20px;
    background-color: indianred;
}
#delete{
    background-color: rgb(95, 95, 237);
}
.bigButtons{
    margin:20px 0px 10px 0px;
    margin-left:25px;
    display:flex;
    justify-content: stretch;
}
.buttonContainer{
    width: 400px;
    display:flex;
    flex-wrap: wrap;
    
}

.smallButtons{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin-left: 30px;
    margin-top:20px;
    
}
.smallButtons button {
  width: 75px;
  height: 60px;

  font-size: 22px;
  font-weight: bold;

  border-radius: 10px;
  border: 1px solid black;

  background-color: #fafaee;
  margin: 5px;
}